<div class="jumbotron">
    <h1>Razor</h1>
    <p class="lead">Here are some tips and tricks about MVC Razor ViewEngine which this site uses.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Escaping the @@ character</h2>
        <p>
            I had the need to exposed some code in a source page, and that meant that I wanted to show the @@ character.
            The Razor view engine treats this as a special character, so in the cshtml file I had to use this syntax to escape it:<br />
            <code>@@@@{ the code }</code>    

        </p>
    </div>
</div>

