@{
    ViewBag.Title = "Sandbox";
}

<header id="head" class="secondary"></header>

<div class="container body-content" id="body">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    <div class="row">
        <!-- Article main content -->
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">@ViewBag.Title</h1>
            </header>
            <p>Here you can play with some code I have written. Please revisit - more coming</p>
            <ul>
                <li>Here is an editable list using Entity Framework / MSSQL : @Html.ActionLink("Maintain Technologies List", "Index", "Technologies", new { area = "Sandbox" }, null)</li>
            </ul>

        </article>
    </div>
</div>
