 <!-- Header -->
<header id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead">Mark Paemaa's Showcase</h1>
            <p class="tagline">Have a play, check out all the features</p>
            <p><a class="btn btn-default btn-lg" role="button" href="#body" data-toggle="tooltip" data-placement="bottom" title="This will scroll you down the page a little for some more information">MORE INFO</a> 
            @Html.ActionLink("DOWNLOAD CV", "Index", "Home", new { area = "Resume" }, new { @class = "btn btn-primary btn-lg", @role = "button" })</p>
        </div>
    </div>
</header>
<!-- /Header -->
