@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<header id="head" class="secondary"></header>

<div class="container body-content" id="body">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

</div>